.drop-zone {
    border: 3px dashed #0d6efd;
    padding: 40px;
    text-align: center;
    background: white;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.drop-zone:hover {
    background: #e9f2ff;
}

.drop-zone.dragover {
    background: #d0e3ff;
    border-color: #0056d2;
}

#fileInput {
    display: none;
}
